.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../img/main_bg.jpg) center (center/cover) no-repeat;
    &_wrapper {
        text-align: center;
    }
    &-title {
        color: #ffffff;
        font-size: 24px;
        font-weight: 300;
    }
    &__title {
        margin-bottom: 26px;
    }
    &-subtitle {
        font-size: 72px;
        font-weight: 700;
        text-transform: uppercase;
        color: $main-color;
    }
    &__subtitle {
        margin-bottom: 9px;
    }
    &-dscr {
        color: #ffffff;
        font-size: 42px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__dscr {
        margin-bottom: 38px;
    }

    &-icons {
        display: flex;
        justify-content: space-between;
    }
    &__icons {
        margin-top: 31px;
    }
    &-icon {
        width: 258px;
        text-align: center;
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
}